// Colors
$green: #0fbb8e;
$green-light: #3fc8a4;
$green-muted: #dfffec;
$green-dark: #252928;
$forest-green: #16384e;
$blue: #008abb;
$blue-light: #1595c4;
$blue-muted: #dbf5ff;
$deepblue: #213949;
$marigold: #daa242;
$marigold-light: #e4b460;
$cream: #fff9d7;

// Grayscale
$white: #fff;
$off-white: #f8f8f8;
$white-smoke: #f9f9f9;
$cygnet: #c0c0c0;
$cygnet-light: #cecece;
$slate-light: #6c6c6c;
$slate-dark: #333;

// Transparent
$black-transparent-20: rgba(0, 0, 0, 0.2);

// Brands
$google-red: #e95638;
$google-red-light: #e96c54;
$facebook-blue: #486dd5;
$facebook-blue-light: #5e7ed6;



