$black: #000;
$white: #fff;

// Transparency
$transparent: rgba(0, 0, 0, 0);
$transparent-black-20: rgba(0, 0, 0, 0.2);

// Grayscale
$cool-gray-100: #ebeff0;
$cool-gray-200: #d2d5d6;
$cool-gray-300: #b9bcbd;
$cool-gray-400: #9c9fa1;
$cool-gray-500: #828687;
$cool-gray-600: #676c6e;
$cool-gray-700: #4b5052;
$cool-gray-800: #313638;

// Brand colors
$courb-orange-100: #feede7;
$courb-orange-300: #ffc9b5;
$courb-orange-400: #fc9672;
$courb-orange-500: #fa6632;
$courb-orange-800: #a84724;

$courb-yellow-100: #fff7d1;
$courb-yellow-300: #ffeaa6;
$courb-yellow-400: #ffd978;
$courb-yellow-500: #fcc83f;
$courb-yellow-800: #8c701c;

$courb-green-100: #d6fff1;
$courb-green-300: #1ce8ae;
$courb-green-400: #20c799;
$courb-green-500: #23a885;
$courb-green-800: #156642;

$courb-blue-100: #e3f6ff;
$courb-blue-300: #09b2e9;
$courb-blue-400: #158ebe;
$courb-blue-500: #216b94;
$courb-blue-800: #123a51;

// Map Pin Colors
$pin-green: #0bc108;
$pin-yellow: #fdf62a;
$pin-orange: #ff8914;
$pin-red: #e02020;
$pin-purple: #8a0099;
$pin-blue: #3961e5;
$pin-gray: #676767;

// Utility Message Colors
$warning-yellow: #fcc83f;
$warning-yellow-bg: #8c6c1c;
$notice-blue: #6da2ff;
$notice-blue-bg: #4075b6;
$error-red: #ff526f;
$error-red-bg: #bd3e49;
$success-green: #08c14c;
$success-green-bg: #148041;

// 3rd Party Colors
$google-red: #e95638;
$google-red-light: #e96c54;
$facebook-blue: #486dd5;
$facebook-blue-light: #5e7ed6;
