// Colors
$green: #0fbb8e;
$green-light: #0eac81;
$green-muted: #dfffec;
$forest-green: #252928;
$blue: #008abb;
$blue-light: #dbf5ff;
$deepblue: #213949;
$marigold: #daa242;
$cream: #fff9d7;

// Grayscale
$white: #fff;
$off-white: #f8f8f8;
$white-smoke: #f9f9f9;
$gray-light: #f2f2f2;
$slate: #6c6c6c;
$slate-dark: #4d4d4d;

// Transparent
$black-transparent-20: rgba(0, 0, 0, 0.2);
