@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500|Roboto:400,500');

$primary-font-family: 'Raleway', sans-serif;
$secondary-font-family: 'Roboto', sans-serif;

// Fonts
%base-font {
  color: $cool-gray-700;
  font-family: $primary-font-family;
  font-size: 10px;
}

.body {
  font-family: $primary-font-family;

  &--medium {
    color: $cool-gray-700;
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 2.8rem;
  }
}

.h1 {
  color: $cool-gray-700;
  font-family: $secondary-font-family;
  font-style: normal;
  letter-spacing: 0;
  line-height: 1.4;
  text-align: center;

  &--medium {
    font-size: 4.6rem;
    font-weight: 500;
    letter-spacing: 0.046rem;
  }

  &--large {
    font-size: 5.2rem;
    font-weight: 500;
  }

  &--light-gray {
    color: $cool-gray-100;
  }

  &--forest-green {
    color: $courb-green-800;
  }
}

.h2 {
  font-family: $primary-font-family;
  font-style: normal;
  letter-spacing: 0.2rem;

  &--small {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
  }

  &--medium {
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 4.8rem;
  }

  &--medium-uppercase {
    font-weight: 500;
    line-height: 2.8rem;
    text-transform: uppercase;
  }

  &--align-center {
    text-align: center;
  }

  &--green {
    color: $courb-green-500;
  }

  &--cool-gray-700 {
    color: $cool-gray-700;
  }

  &--slate-dark {
    color: $cool-gray-600;
  }
}

.h3-roboto {
  font-family: $secondary-font-family;
  font-style: normal;

  &--small {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 2.6rem;
  }

  &--medium {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 2.7rem;
  }

  &--large {
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }

  &--uppercase-large {
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 0.273rem;
    line-height: 3.3rem;
    text-transform: uppercase;
  }

  &--align-center {
    text-align: center;
  }

  &--green {
    color: $courb-green-500;
  }

  &--slate-dark {
    color: $cool-gray-600;
  }

  &--forest-green {
    color: $courb-green-800;
  }
}

.h3-raleway {
  font-family: $primary-font-family;
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: 3rem;
  text-align: center;

  &--slate-dark {
    color: $cool-gray-600;
  }
}
