.courb-button {
  align-items: center;
  border: 0;
  border-radius: 2.2rem;
  box-shadow: none;
  color: $white;
  cursor: pointer;
  display: flex;
  font-family: $primary-font-family;
  font-size: 1.4rem;
  font-weight: 500;
  height: 4.4rem;
  justify-content: center;
  letter-spacing: 0.15rem;
  margin-bottom: 10px;
  outline: none;
  padding: 0 2.2rem;
  white-space: nowrap;

  .fa { margin-right: 0.6rem; }

  &:focus {
    outline: none;
  }

  &:disabled, &[disabled]{
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
  }

  &--link {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;

    &:hover, &:active, &:focus {
      color: $white;
      text-decoration: none;
    }
  }

  &--full-width { width: 100%; }

  &--small {
    height: 2.8rem;
    padding: 0 1.4rem;
    border-radius: 1.4rem;
    .fa { margin-right: 0.2rem; }
  }

  &--blue {
    background-color: $courb-blue-400;
    &:hover { background-color: $courb-blue-300; }
  }

  &--green {
    background-color: $courb-green-400;
    &:hover { background-color: $courb-green-300; }
  }

  &--white {
    background-color: $white;
    color: $cool-gray-700;
    &:hover { background-color: $cool-gray-100; }
  }

  &--yellow {
    background-color: $courb-yellow-400;
    &:hover { background-color: $courb-yellow-300; }
  }

  &--gray {
    background-color: $cool-gray-300;
    &:hover { background-color: $cool-gray-200; }
  }

  &--light-gray {
    background-color: $cool-gray-100;
    color: $cool-gray-700;
    &:hover { background-color: $white; }
  }

  &--fb {
    background-color: $facebook-blue;
    &:hover { background-color: $facebook-blue-light; }
  }

  &--goog {
    background-color: $google-red;
    &:hover { background-color: $google-red-light; }
  }

  &--gray-border {
    border: 1px solid $cool-gray-300;
  }

  &--blue-border {
    border: 1px solid $courb-blue-400;
  }

  &--blue-text {
    color: $courb-blue-400;
  }

  &--green-outlined {
    border: 1px solid $courb-green-400;
    color: $courb-green-400;

    &:hover, &:active, &:focus {
      border-color: $courb-green-300;
      color: $courb-green-300;
      text-decoration: none;
    }
  }
}
