{{docs-hero prefix="coUrbanize" heading="Common UI" class="courb-green-bg"}}

<div class="container">
  <section class="docs-max-w-md docs-mx-auto docs-pb-8">
    <h2 class="docs-flex docs-items-center docs-mt-8 docs-h2">Motivation</h2>
    <p>A living, interactive styleguide of shared UI components.</p>
  </section>
</div>
